.fright{
    float: right;
}

li{
    margin-left: 5px;
    margin-right: 5px;
}

.glyphicon{
    margin-left: 5px;
    margin-right: 5px;
}

.x{
    margin-left: 15px;
    margin-right: 15px;
}

.b1{
    background-color: darkolivegreen;
}

.padding-margin {
    /* padding-right: 5px; */
    margin-top: 15px;
    padding-top: 15px;
}

.headerset{
    box-sizing: border-box;
    padding-top: 130px;
    
}


