*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
li{list-style: none;}

/* 
.fright{
    float: right;
} */

li{
    margin-left: 5px;
    margin-right: 5px;
}

.glyphicon{
    margin-left: 5px;
    margin-right: 5px;
}

/* .x{
    margin-left: 15px;
    margin-right: 15px;
} */

.header{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(54, 124, 160, 0.3),rgba(54, 124, 160, 0.3)),url(Project/pic3.jpg); */
    background-image: linear-gradient(rgba(0, 168, 255, 0.3),rgba(0, 168, 255, 0.3)),url(Project/pic3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    clip-path: polygon(100% 0% , 100% 77% , 50% 100% , 0 75% , 0 0  );  /* to create polygon shape (x,y codinates) */
}


.header:before{   /*Adding one extra layer of film on image*/
    content: '';
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.3;
    background: linear-gradient(to right, #1e5799 0% , #3ccdbb 0% , #16c9f6 100%);
    z-index: -1; /*Removes opacity from text conatined inside this class*/
}

.navbar:before{
    content: '';
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.3;
    background: linear-gradient(to right, #1e5799 0% , #3ccdbb 0% , #16c9f6 100%);
    z-index: -1;
    
}

.nav-item a{
    color: white;
    font-weight: bold;
}


.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
    /* -ms-transform:translate(-50% -50%);
    -webkit-transform:translate(-50% -50%); */
    


}
